<div class="top-area"><img src="../../img/products.png"/></div>

<h1>Enter below</h1>

<ol>
    <li><span>1</span>Sign up below</li>
    <li><span>2</span>Receive discount offer via email</li>
    <li><span>3</span>Buy and use any item in the Oral-B Clinical range</li>
    <li><span>4</span>Hold onto your receipt to redeem prize</li>
</ol>
<p>In addition to the major prize of a backyard cricket match with Michael Clarke, we’re giving away 100 Oral-B Clinical
    Starter Kits valued at $100.</p>

<form name="form" ng-class="{submitted:submitted}">
    <label>First name<input type="text" ng-model="entry.firstName" maxlength="30" required="required"/></label>
    <label>Last name<input type="text" ng-model="entry.lastName" maxlength="30" required="required"/></label>
    <label>Email<input type="email" ng-model="entry.email" required="required"/></label>
    <label class="birth">DOB
        <span>
            <select ng-model="entry.month" id="month" ng-options="m for m in months" ng-init="entry.month='Jan'" required="required"></select>
            <select ng-model="entry.year" id="year" ng-options="y for y in years" ng-init="entry.year=1970" required="required"></select>
        </span>
    </label>
    <label class="checkbox"><input type="checkbox" ng-model="entry.terms" required="required"/>I agree to the P&G <a href="javascript:void(0)" ng-click="popup.show('terms.html',0,{isFocusable:true})">Terms and Conditions</a></label>
    <label class="checkbox"><input type="checkbox" ng-model="entry.rules" required="required"/>I agree to the rules of this sweepstake</label>
    <label class="checkbox"><input type="checkbox" ng-model="entry.receiveEmails"/>Yes I would like to receive an email from P&G</label>
    <button class="btn" type="submit" ng-click="submitted=true;form.$valid&&submitEntry(entry)">submit my details</button>
    <!--<button class="btn" type="submit" ng-click="submitEntry(entry)">submit my details</button>-->
</form>

<a href="#/home" class="logo"></a>
<div class="footer">
    <a href="#/products">view product range</a>
    <a class="terms" href="javascript:void(0)" ng-click="popup.show('terms.html',0,{isFocusable:true})">terms and conditions</a>
</div>