html{
	width:100%;
	height:100%;
	background-color:#ffffff;
}
body{
	font-size:12px;
	font-family:sans-serif;
	color:#000000;
	background-color:#ffffff;
	line-height:14px;
	position:relative;
	overflow-x:hidden!important;
	min-height:100%;
	-webkit-text-size-adjust:none;
}
a{
	text-decoration:none;
	color:#000000;
	-webkit-tap-highlight-color:transparent;
}
a:hover{
	color:#ff0000;
}
html.app-loading{
	background:#ffffff url(/img/app-loading.gif) no-repeat center center;
}
html.app-loading body{
	visibility:hidden;
}
html.app-mobile, .app-mobile body{
	width:810px!important;
	max-width:810px!important;
}
.app-mobile body{
	-webkit-user-select:none;
}
.app-msie-8	body{
	min-height:100px;
}

#view{
	width:810px;
	margin:0px auto;
	position:relative;
}
.app-mobile #view{
	width:810px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{
	visibility:hidden;
}
.process{
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	height:100%;
	width:100%;
	position:absolute;
	z-index:1;
    background-color:transparent;
    background-color:rgba(255,255,255,0.8);
    background-image:url(/img/empty.png);
    zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	display:none;
}
.process > div{
	left:50%;
	top:50%;
	height:100px;
	width:100px;
	margin-left:-50px;
	margin-top:-50px;
	position:fixed;
	background:transparent url(/img/app-loading.gif) no-repeat center center;
}
.app-process .process{
	display:block;
}


/* TEMPLATE */
body{
	font-size:20px;
}
h1{
	font-family:Tahoma;
	color:#e7e7e7;
	font-size:152px;
	line-height:160px;
	margin:0 0 20px 0;
	position:relative;
	text-indent:200px;
	background:transparent url(/img/200x200.png) no-repeat left center;
}
h1 > b{
	position:absolute;
	left:0px;
	bottom:5px;
	color:#ff0000;
	font-size:41px;
	line-height:41px;
	font-weight:normal;
}
.app-mobile h1 > b{
	color:#0000ff;
}
h1 > i{
	position:absolute;
	left:80px;
	top:50px;
	color:#ff0000;
	font-size:20px;
	line-height:20px;
	font-weight:normal;
	font-style:normal;
}
.app-mobile h1 > i{
	color:#0000ff;
}
p{
	margin:20px 0;
	font-family:Georgia;
	color:#000000;
	font-size:25px;
	line-height:30px;
	padding:20px;
}
a{
	text-decoration:underline;
	color:#000000;
	font-family:Tahoma;
}
a:hover{
	color:#ff0000;
    text-decoration:none;
}
.app-mobile a:hover{
	color:#0000ff;
}
.notext, .notext *{font-size:0px!important;text-shadow:none!important;white-space:nowrap!important;text-indent:-9999px!important;line-height:0px!important;overflow:hidden!important;color:transparent!important;}
.clearfix{display:block} * html .clearfix{height:1%} .clearfix:after,.clear {content:".";display:block;height:0;clear:both;visibility:hidden;} .clearfix{display:inline-block}

/* POPUP */
.popup{
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    min-height:100%;
    text-align:center;
    background-color:transparent;
    background-color:rgba(255,255,255,0.8);
    background-image:url(/img/empty.png);
	zoom:1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
}
.popup-shadow{
	display:inline-block;
	margin-top:150px;
}
.popup-close{
	position:absolute;
	right:10px;
	top:10px;
}
.popup-content{
	width:500px;
	margin:auto 0px;
	padding-bottom:100px;
	position:relative;
	text-align:center;
	color:#000000;
	font-size:20px;
	line-height:20px;
	background-color:#FFFFFF;
	border:1px solid #000000;
}
.popup-include{
	min-height:150px;
}
.popup-include > div{
	padding-top:70px;
}


.gallery{}
.gallery .entry{float:left;margin:35px;min-width:200px;min-height:200px;background:transparent url(/img/app-loading.gif) no-repeat center center;cursor:pointer;}
.gallery .bar{height:45px;}
.gallery .filter{float:left;}
.gallery .filter .active{color:#f00;}
.gallery .pages{float:right;}
.gallery .pages > span{color:#f00;}
.gallery .pages > *{margin:0 3px;}
