html{ width: 100%; height: 100%; background-color: #ffffff; }
body{
	font-size: 12px;
	font-family: sans-serif;
	color: #000000;
	background-color: #ffffff;
	line-height: 1.3;
	position: relative;
	overflow-x: hidden!important;
	min-height: 100%;
	-webkit-text-size-adjust: none;
}
a{ text-decoration:none; color: #ffffff; -webkit-tap-highlight-color:transparent; }
a:hover{text-decoration: underline;}
html.app-loading{ background:#ffffff url(/img/app-loading.gif) no-repeat center center; }
html.app-loading body{ visibility:hidden; }
html.app-mobile, .app-mobile body{ width:810px!important; max-width:810px!important; }
.app-mobile body{ -webkit-user-select:none; }
.app-msie-8	body{ min-height:100px; }

#view{ width:810px; margin:0 auto; position:relative; }
.app-mobile #view{ width:810px; }
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{ visibility:hidden; }
.process{
	left:0;
	top:0;
	right:0;
	bottom:0;
	height:100%;
	width:100%;
	position:absolute;
	z-index:1;
	background: rgba(255, 255, 255, 0.8) url(/img/empty.png);
	zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	display:none;
}
.process > div{
	left:50%;
	top:50%;
	height:100px;
	width:100px;
	margin-left:-50px;
	margin-top:-50px;
	position:fixed;
	background:transparent url(/img/app-loading.gif) no-repeat center center;
}
.app-process .process{ display:block; }

.notext, .notext *{font-size:0!important;text-shadow:none!important;white-space:nowrap!important;text-indent:-9999px!important;line-height:0!important;overflow:hidden!important;color:transparent!important;}
.clearfix{display:block} * html .clearfix{height:1%} .clearfix:after,.clear {content:".";display:block;height:0;clear:both;visibility:hidden;} .clearfix{display:inline-block}

/* POPUP */
.popup{
	position:absolute;
	left:0;
	top:0;
	right:0;
	min-height:100%;
	text-align:center;
	background: rgba(255, 255, 255, 0.6) url(/img/empty.png);
	zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#AAFFFFFF,endColorstr=#AAFFFFFF);
}
.popup-shadow{
	display:inline-block;
	margin-top:150px;
}
.popup-close{
	font-family: monospace;
	font-weight: bold;
	position:absolute;
	right:0;
	top:0;
	padding: 5px 8px 10px 10px;
	color: #555555;
}
.popup-close:hover{
	color: #000000;
	text-decoration: none;
}
.popup-content{
	width:500px;
	margin:auto 0;
	position:relative;
	text-align:center;
	color: #555555;
	font-size:20px;
	line-height:20px;
	background-color:#FFFFFF;
	border:1px solid #8c8c8c;
}
.popup-include{
	min-height:150px;
}

/*popups*/
.popup .terms{
	padding-top: 30px;
	padding-bottom: 50px;
}
.popup .terms h1{
	font-size: 28px;
	line-height: 1;
}
.popup .terms .content{
	margin: 30px 17px 0 20px;
	padding-right: 10px;
	max-height: 600px;
	overflow: auto;
	text-align: left;
}

/* TEMPLATE */
body{
	scrollbar-base-color: #bdbdbd;
	scrollbar-3dlight-color: white;
	scrollbar-highlight-color: lightgray;
	scrollbar-track-color: white;
	scrollbar-arrow-color: #bdbdbd;
	scrollbar-shadow-color: #bdbdbd;
	scrollbar-dark-shadow-color: white;
}
::-webkit-scrollbar{width: 9px;background-color: #ffffff;}
::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);background-color: rgba(255, 255, 255, 0.5);border-radius: 9px;}
::-webkit-scrollbar-thumb{-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.3);background-color: rgba(225, 225, 225, 0.5);border-radius: 9px;}

#view{
	text-align: center;
	color: #ffffff;
	background-color: #0d4a91;
}

.landing-top-img{
	margin-bottom: 25px;
}

p{
	font-size: 20px;
	margin: 25px auto 0;
	max-width: 604px;
}

.btn{
	font-size: 28px;
	font-weight: bold;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 30px 0 0;
	width: 495px;
	height: 66px;
	line-height: 66px;
	text-transform: uppercase;
	color: #ffffff;
	border: 0;
	background: url(../img/btn.png) no-repeat center;
}
.btn:hover{
	text-decoration: none;
}
.btn:after{
	position: absolute;
	top: 20px;
	right: 40px;
	display: inline-block;
	width: 18px;
	height: 25px;
	content: '';
	background: url(../img/arrow-right.png) no-repeat center;
}

.signature{
	font-size: 22px;
	line-height: 38px;
	margin: 20px auto 8px;
}

.hashtag{
	font-size: 27px;
	font-weight: bold;
}

div[app-video]{
	position: relative;
	margin: 20px auto 35px;
	width:578px;
	height:324px;
	background-color:#000;
	cursor:pointer;
}
.play{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -89px 0 0 -45px;
	width: 115px;
	height: 164px;
	background: url(../img/play.png) no-repeat center;
	cursor:pointer;
}

.notice{
	font-size: 9px;
	line-height: 11px;
	margin: 35px 0 10px 18px;
	text-align: left;
}

.logo{
	position: absolute;
	top: 25px;
	left: 18px;
	width: 111px;
	height: 39px;
	background: url(../img/logo.png) no-repeat center;
}

.footer{
	height: 122px;
	line-height: 40px;
	background-color: #0081c6;
}
.app-route-home .footer{
	height: 39px;
}

.footer a{
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin: 0 20px;
	text-transform: uppercase;
}

.footer a.terms{
	float: right;
	font-weight: normal;
}

/*entry*/
.top-area{
	height: 272px;
	box-shadow: inset 0 -5px 5px -2px rgba(31,63,100,1);
	background-color: #0081c6;
}
.top-area img{
	margin-top: 9px;
}

h1{
	font-size: 37px;
	text-transform: uppercase;
}

.top-area + h1{
	margin-bottom: 30px;
	padding-top: 45px;
	box-shadow: inset 0 5px 5px -5px rgba(79,79,87,1);
}

ol{
	font-size: 17px;
	margin: 30px auto 20px;
	max-width: 420px;
	text-align: left;
}
ol li{
	margin-bottom: 7px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}
ol li span{
	font-size: 24px;
	display: inline-block;
	margin-right: 11px;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid #ffffff;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
}

.app-route-entry p{
	font-size: 17px;
	max-width: 604px;
}

form{
	padding: 45px 74px;
}

form label{
	font-size: 20px;
	display: block;
	margin-bottom: 18px;
	text-align: left;
	text-transform: uppercase;
	vertical-align: middle;
	line-height: 34px;
	height: 34px;
}
form input, form select{
	font-size: 18px;
	padding-left: 6px;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	background: #ffffff;
	box-sizing: border-box;
}
form label input{
	float: right;
	width: 470px;
	height: 34px;
}

form label.birth{
	margin-bottom: 20px;
}
form label.birth > span{
	display: inline-block;
	width: 470px;
	float: right;
}
form label.birth span select{
	width: 171px;
	height: 34px;
	vertical-align: top;
	text-transform: uppercase;
}
form label.birth span select:first-child{
	margin-right: 14px;
}

form label.checkbox{
	font-size: 12px;
	margin: 0;
	float: right;
	width: 470px;
}
form label.checkbox input{
	float: none;
	margin: 0 14px 0 0;
	vertical-align: middle;
	width: 21px;
	height: 21px;
}
form .btn{
	margin-top: 40px;
}

/*products*/
.app-route-products .top-area{
	height: 138px;
}
.app-route-products h1{
	padding-top: 17px;
}
.product{
	text-align: left;
	margin: 40px auto;
	padding: 0 55px 0 130px;
}
.product > div{
	display: inline-block;
}
.product .img-wrapper{
	width: 130px;
	text-align: center;
}
.product .description{
	float: right;
}
.product .description h4{
	margin-top: 30px;
	font-size: 16px;
	font-weight: bold;
}
.product .description p{
	font-size: 16px;
	margin: 0 auto;
	width: 448px;
}
.product .description p + p{
	margin-top: 75px;
}
.app-route-products .btn{
	margin: 40px auto 64px;
}